# markdown
## markdown
### markdown

# insert site address
[site](http://ct3.gitam.edu/)

# insert image address
![text]()

# Python Basics
python is a beginners language


python is easy to learn

# creating ordered list

1. abc
2. hsdf
  1. a
  2. b

## Bold and italic
**gitam**

*gitam*

In [3]:
# basic hello program
print("hello world !")

hello world !

In [4]:
#variable creation
x=25
y=25
x+y

50

# Rules for variable
-name should begin with a character

-no special characters allowed except _

In [6]:
name="shreya"
age=19
print("my name is",name,"age is:",age)

my name is shreya age is: 19

In [8]:
name=input("enter name")

age=int(input("enter age"))
print("my name is:",name,"age is:",age)

enter nameshreya
enter age19
my name is: shreya age is: 19

In [12]:
x=int(input("enter a number"))
y=int(input("enter a number"))
print("add",x+y)
print("sub",x-y)
print("div",x/y)
print("mul",x*y)
print("mod",x%y)

enter a number20
enter a number10
add 30
sub 10
div 2.0
mul 200
mod 0

# funamental data types:
-int

-float

-complex

-boolean

-string

In [17]:
x=10
y=12.32
z=5+6j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [14]:
c=complex(3,5)
print(c)

(3+5j)

In [23]:
c1=5+6j
c2=4+5j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(9+11j)
(1+1j)
(-10+49j)

In [27]:
a=True
b=False
a<b

False

In [28]:
x=6
y=7
x<y

True

In [31]:
# string
s1="abc"
s2="dfg"
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [32]:
i=100
print(type(i))
s1=str(i)
print(type(s1))
f1=float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [35]:
# length 
a=1234
print(len(str(a)))

4

In [36]:
n1=100
a =b =c =20
a1,b1,c1=10,20,30
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
10 20 30

# precedence of the arth operators
-parenthesis

-power

-multiplication

-addition

In [39]:
x=1+2** 3/4+5
print(x)

8.0

In [40]:
x=1+2**3/4*5
print(x)

11.0

# operators
## arithematic operators
- +
- -
- *
- /
- %
- **
- //

In [42]:
x=10
y=15
print("add",x+y)
print("sub",x-y)
print("mul",x*y)
print("div",x/y)
print("mod",x%y)
print("power",x**y)
print("quoe",x//y)

add 25
sub -5
mul 150
div 0.6666666666666666
mod 10
power 1000000000000000
quoe 0

# relational operators
==,!=,<,>,<=, >=

In [43]:
x=5
a=x>10
print(a)

False

# Logical operator
- and
- or
- not

In [46]:
a=100
a1=(i>15)and(i>76)
a2=(i>567)or(i>3456)
print(a1)
print(a2)
print(not i)

True
False
False

# membership operator
- in 
- not in

In [51]:
str1="abc"
print('a' in str1)
print('a'not in str1)

True
False

# control flow statements
- conditional statement
- looping statement
- -if-else statement
   - syntax
   #### if condition:
   > statement<str>
    #### else
    >statements

In [55]:
#check given number is even or odd
n = int(input("enter a number"))
if n%2==0:
    print("even")
else:
        print("odd")

enter a number15
odd

In [60]:
# check given number is perfectly multiple of 3&5
n = int(input("enter a number"))
if n%3==0 and n%5==0:
    print("yes")
else:
    print("no")

enter a number15
yes

In [65]:
# check given number is positive negative or zero
n = int(input("enter a number"))
if n<0 :
 print("positive number")
elif(n>0):
 print("negative")
else:
 print ("0")

enter a number24
negative

In [62]:
#check input is leap year or not

In [2]:
n = int(input("enter a number"))
if n%4==0 and n%100!=0 or n%400==0 :
  print("yes")
else:
    print("no")

enter a number2019
no