# collection of data structure types
- list
- tuple
- set
- dictionary

# list:
- one of the data structure in python
- data structure means to store,sortand search options
- its one common data structure in python,the items of list seperated by comma and enclosed by square brackets

### example
- list1 =[1,2,3,4]
- list2 ==["giatm",1,2,3]

In [5]:
li=[1,8,16,9,2]
print(li)
print(li[2])
print(li[-3])
print(li[2:])
print(li[2:4])
print(li[-3:-1])

[1, 8, 16, 9, 2]
16
16
[16, 9, 2]
[16, 9]
[16, 9]

In [6]:
li=["gitam",1234,1235,1236,"Hyd"]
print(li)
print(li[0][2])

['gitam', 1234, 1235, 1236, 'Hyd']
t

In [7]:
del li[3]
print(li)

['gitam', 1234, 1235, 'Hyd']

In [9]:
# update
li[1]=123
print(li)

['gitam', 123, 1235, 'Hyd']

In [15]:
# basic list functions
li=[1,9,116,25,5]
print(max(li))
print(min(li))
print(sum(li))
print(len(li))
print(sum(li)//len(li))

116
1
156
5
31

In [26]:
li=[1,9,116,25,5,9]
#li.append(89)
print(li)
# li.insert(2,56)
#li.count(9)
li.index(5)

[1, 9, 116, 25, 5, 9]

4

In [27]:
li=[1,9,116,25,5]
li.sort()
li

[1, 5, 9, 25, 116]

In [29]:
#li.pop()
li.pop(1)
li

[1, 9, 25]

## del-delete the list item from the list
## pop-remove last index value
## pop(index)-removes the items from the specified index

In [31]:
li=[1,9,116,25,5,9]
#li1=[76,78,79]
#li.extend(li1)
li.reverse()
li

[9, 5, 25, 116, 9, 1]

In [34]:
# function to return the large number from given list
def largenumber(li):
    li.sort()
    return li[-1]
def genericlarge(li,n):
   li.sort()
   return li[-n]
li=[19,1,25,45,76]
print(largenumber(li))
print(genericlarge(li,3))

76
25

In [36]:
def smallnumber(li):
    li.sort()
    return li[0]
def genericsmall(li,n):
   li.sort()
   return li[n]
li=[19,1,25,45,76]
print(smallnumber(li))
print(genericsmall(li,3))

1
45

## tuple
- its one common data structure in python,the items of tuple seperated by comma and enclosed by parenthesis()

## example
- ti=(1,2,3,4)

## list and tuple
- in list are mutable -can be changed/modified
- list used to modify,add,delete,update
- tuple are immutable -cannot be changed 
- tuple used access data only

In [37]:
t1=(1,2,3,4,54)
t1

(1, 2, 3, 4, 54)

# Dictionaries
1. It works on concept of set unique data
2. dictionary contains keys and values
3. Each ky and value seperated by comma
4. Each key is seperated from its value with colon(:)

In [39]:
d1 ={"name":"gitam","email":"gitam@in","adderess":"hyderabad"}
d1

{'name': 'gitam', 'email': 'gitam@in', 'adderess': 'hyderabad'}

In [40]:
d1["name"]

'gitam'

In [41]:
d1 ={"name":"gitam","email":"gitam@in","adderess":"hyderabad"}
d1['name']='shreya'
d1

{'name': 'shreya', 'email': 'gitam@in', 'adderess': 'hyderabad'}

In [42]:
d1['roll_no']='22110313025'
d1

{'name': 'shreya',
 'email': 'gitam@in',
 'adderess': 'hyderabad',
 'roll_no': '22110313025'}

In [43]:
del d1['email']
d1

{'name': 'shreya', 'adderess': 'hyderabad', 'roll_no': '22110313025'}

In [44]:
d1.keys()

dict_keys(['name', 'adderess', 'roll_no'])

In [45]:
d1.values()

dict_values(['shreya', 'hyderabad', '22110313025'])

In [47]:
d1.items()

dict_items([('name', 'shreya'), ('adderess', 'hyderabad'), ('roll_no', '22110313025')])

# strings:

In [48]:
s1="python"
print(s1)
print(type(s1))

python
<class 'str'>

In [57]:
s1="python"
print(s1[0])
print(len(s1)-2)
print(s1[len(s1)-2])
print(s1[1:-1])
print(s1[len(s1)//2])
print(s1[::2])
print(s1[::-1])

p
4
o
ytho
h
pto
nohtyp

# string built in methods:
- upper
- lower
- islower
- isupper
- istittle
- isnumeric
- isalpha
- isspace

In [67]:
s1 = 'Python'
print(s1.upper())
print(s1.lower())
print(s1.isupper())
print(s1.islower())
print(s1.istitle())
print(s1.isnumeric())
print(s1.isalpha())

PYTHON
python
False
False
True
False
True

In [68]:
s1=' '
print(s1.isspace())

True

# string methods:
- join()
- split()
- replace()

In [69]:
s1="python"
print(" ".join(s1))

p y t h o n

In [70]:
s1="python programming easy to learn"
print(s1.split())

['python', 'programming', 'easy', 'to', 'learn']

In [71]:
s1="python programing easy to learn"
print(s1.replace("ing",'gitam'))

python programgitam easy to learn